.otp-container {
    .custom-otp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(233, 233, 233);
        padding: 24px;
        width: 100%;
        border-radius: 8px;
        direction: ltr;
        margin-bottom: 30px;

        .custom-otp-input {
            border-radius: 8px;
            border: none;
            outline: none !important;
            padding: 12px;
            margin: 0 !important;
        }

    }
}