.order__form {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 20px 0;
  margin-top: 40px;
}
.order__select {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 24px;
}
.order__select select {
  width: 100px;
  background-color: transparent;
  padding: 4px;
  border-radius: 10px;
}
.order__radio {
  display: flex;
  gap: 8px;
  margin-top: -8px;
}
