@import "./assets/font";

html {
  font-size: 100%;
  @media only screen and (max-width: 105em) {
    font-size: 75%;
  }
  @media only screen and (max-width: 55em) {
    font-size: 70%;
  }
  @media only screen and (max-width: 49em) {
    font-size: 60%;
  }
}
.radius {
  border-radius: 10px !important;
}
.min-h-15 {
  min-height: 15px !important;
}
.min-h-30 {
  min-height: 30px !important;
}
.min-h-60 {
  min-height: 60px !important;
}

.min-h-100 {
  min-height: 100px !important;
}

.min-h-150 {
  min-height: 150px !important;
}

.bg-white {
  background-color: white !important;
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 30px;
}

.h-100vh {
  height: 100vh;
}

.m-0 {
  margin: 0;
}
.text-primary-2 {
  color: #3f2509;
}

.p-0 {
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}
.bank_image {
  width: 70%;
  height: 100%;
}
.auto-suggesst-icon {
  position: relative;
  &::after {
    font-family: "simple-line-icons";
    content: "\e090";
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }
}
.gap-3 {
  gap: 3%;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: inherit;
  opacity: 1;
}
.custom_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > div {
    flex: 0 0 40%;
  }
}
