@import "./assets/font";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: IRANSansXFaNum;
}

.radius {
  border-radius: 10px !important;
}
.min-h-15 {
  min-height: 15px !important;
}
.min-h-30 {
  min-height: 30px !important;
}

.min-h-100 {
  min-height: 100px !important;
}

.min-h-150 {
  min-height: 150px !important;
}

.bg-white {
  background-color: white !important;
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 30px;
}

.h-100vh {
  height: 100vh;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}
